search-result-item, .suggestion-container {
    border-top: 1px dotted #E4E4E2;
    padding: 8px 10px 7px;
    
}



.package-gold {
    border: 1px solid goldenrod;
    background-color: #fdf9f2;
    width: 55.33333333%;
    margin-left: 350px;
    margin-top: -210px;  
}


row {
    margin: 0 auto;
    min-width: none;
    margin-left: 200px;
}


.dropdown {
    border: 0;
    line-height: normal;
    font-weight: lighter;
    background-color: transparent;
    
  
}
